@font-face {
  font-family: "Volkhov";
  src: url("../fonts/Volkhov/Volkhov-Regular.ttf") format("truetype");
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

header {
  height: 40px;
  min-height: 40px;
  /* background-color: #FF6969;*/
  background-color: #354866;
  color: #eeeeee;
  font-family: "Volkhov";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  font-family: "Volkhov";
  display: flex;
  justify-content: center;
}

#headerContent,
#footerContent {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#headerContentMain {
  flex-grow: 1;
  display: flex;
}

.headerButton,
.headerButtonActive {
  padding: 10px 20px;
  text-decoration: none;
  transition-duration: 0.2s;
}

.headerButton {
  color: white;
}

.headerButtonActive {
  background-color: white;
  color: #354866;
}

.headerButton:hover,
.headerButtonActive:hover {
  color: #354866;
  background-color: white;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  /* background-color: #666666; */
  display: flex;
  justify-content: center;
}

#mainContent {
  /* flex-grw */
  padding: 20px 0px;
}

#footerContent {
  display: flex;
  align-items: center;
}

footer {
  height: 40px;
  color: #7c4dff;
  background-color: #000;
  min-height: 40px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
